/**
 * Base Variables
 */
:root {
  /********** Globals ***********/

  /*** Font Family ***/

  --global--font-header: "Montserrat", sans-serif;
  --global--font-text: "Montserrat", sans-serif;

  /* --global--font-primary: var(--font-headings, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif);
        --global--font-secondary: var(--font-base, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif); */

  /*** Colors ***/

  /* admin */
  --entry-header--color: #000;

  /* Site */

  --global--color-background: #1f1f1f;

  --global--color-text: #000000;

  --global--color-primary: #b65f25;
  --global--color-primary-hover: #723725;

  --global--color-secondary: #0571fa;
  --global--color-secondary-hover: #2981f5;

  --global--color-tertiary: #85c782;

  /*** Letter Spacing ***/

  --global--letter_spacing-large: 3px;
}
